.customgrid-container {
  width: 100%;
  height: 100%;
}
.customgrid-container .container-grid .grid-cell {
  display: inline-block;
  padding: 10px;
}
.customgrid-container .container-grid .grid-cell .cell-content-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.customgrid-container
  .container-grid
  .grid-cell
  .cell-content-wrapper.selected {
  border: 2px solid #ff0000;
}
.customgrid-container .container-grid .grid-cell .cell-content-wrapper .image {
  object-fit: contain;
  background-color: black;
}
.customgrid-container .container-grid .grid-cell .cell-content-wrapper .video {
  background-color: black;
}
.customgrid-container .container-grid .grid-cell .cell-tag-wrapper {
  padding: 0px 2px 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: white;
  border-top: 1px solid #f0f2f5;
}
.customgrid-container .container-grid .grid-cell .cell-tag-wrapper .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.customgrid-container .container-grid .grid-cell .cell-category-detail {
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #f0f2f5;
}
.customgrid-container .container-grid .grid-cell .main-file-info-wrapper {
  background-color: white;
  position: absolute;
  padding-left: 15px;
  padding-top: 2px;
  border-top: 1px solid #f0f2f5;
}
.customgrid-container .container-grid .grid-cell .row-prop {
  width: 100%;
  display: flex;
  align-items: center;
}
.customgrid-container .container-grid .grid-cell .row-prop .desc {
  margin-left: 10px;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.ReactVirtualized__Grid.container-grid:focus {
  outline: none;
}
